<div class="card">
    <h5 class="card-header">
        <a class="collapsed d-block d-flex flex-row" data-toggle="collapse" href="#collapse-collapsed{{id}}" aria-expanded="true" aria-controls="collapse-collapsed{{id}}" id="heading-collapsed">
                <i class="bi bi-chevron-right pull-right mr-3"></i>
            <div class="text-uppercase text-truncate">{{talker_name}} : {{talk_title}}</div>
        </a>
    </h5>

    <div id="collapse-collapsed{{id}}" class="collapse" aria-labelledby="heading-collapsed">
        <div href="#" class="card link-trapeze-horizontal" itemscope="">
            <div class="card-body">
                <h3 class="card-title" itemprop="name">{{talk_title}}</h3>
                <div class="card-info">
<!--                                <span class="card-info-date" itemprop="datePublished"-->
<!--                                      content="2017-09-11T12:00">DATE</span>-->
<!--                    <span itemprop="about">Recherche</span>-->
<!--                    <span itemprop="about">Prix et récompenses</span>-->
                </div>
                <p itemprop="description">{{talk_description}}</p>
            </div>
            <div class="card-footer text-muted d-flex flex-column justify-content-center">

                <div class="m-auto"><img class="m-3 rounded-circle img-thumbnail w-25" alt="avatar1"
                        style="min-width: 120px; min-height: 120px; max-width: 120px; max-height: 120px; object-fit: cover; shape-outside: circle()"
                        src="{{talker_image_path}}"/>
                    <div><b>{{talker_name}}</b></div>
                </div>
                <div class="p-3">
                    <div>{{talker_bio}}</div>
                </div>
            </div>
        </div>
    </div>
</div>